* {
    margin: 0;
    padding: 0;
}

html, body, #app, .wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none
}

/*滚动条样式美化*/
/*滚动条整体部分，其中的属性有width,height,background,border（就和一个块级元素一样）等。*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/*外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。*/
::-webkit-scrollbar-track {
    background-color: rgba(153, 153, 153, 0.1);
    border-radius: 6px;
}

/*滚动条里面可以拖动的那部分*/
::-webkit-scrollbar-thumb {
    background-color: rgba(153, 153, 153, 0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(153, 153, 153, 0.6);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(153, 153, 153, 0.9);
}

.avue-crud {
    width: 100%;
}

.el-dialog__body {
    padding: 0px;
}

.header-box {
    height: 50px;
    padding: 0;
}

.header-box > .left {
    float: left;
}

.header-box > .right {
    float: right;
}

.main-box {
    padding: 0;
}

.el-transfer {
    display: -webkit-box;
}

.el-transfer-panel__item {
    width: auto;
}

.avue-crud-search__menu>:nth-child(2) {
    display: none;
}
